<h1>Artists</h1>
<body>
  <table id='artist_list'>
    <tr>
      <th>Artist</th>
      <th>Creation time</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @artists.each do |artist|%>
    <tr class="artist">
      <td><h4><%= link_to artist.username, "/artists/#{artist.id}" %></h4></td> 
      <td><%= artist.created_at.to_s %></td>
      <td><%= link_to "<button>Edit Artist</button>".html_safe, "/artists/#{artist.id}/edit", :class => 'table_button', :id => 'edit_artist' %></td>
      <td><%= button_to "Delete Artist", "/artists/#{artist.id}", method: :delete , :class => 'table_button' %></td>
    </tr>
    <%end%>     
  </table>
  <br>
  <%= link_to "<button>New Artist</button>".html_safe, "/artists/new", :class => 'table_button', :id => 'new_artist' %>

</body>