    
    <body>
      <h1><%=@artist.username%> Shop Breakdown</h1>
        <table id='shop_breakdown'>
          <tr>
            <th><h3> <%= @artist.username %> </h3></th>
          </tr>
          <tr>
            <td>Location: <%= @artist.location %></td>
          </tr>
          <tr>
            <td>Followers: <%= @artist.followers %></td>
          </tr>
          <tr>
            <td class='item_count'>No of Items: <%= @artist.tot_stock %></td>
          </tr>
          <tr>
            <td>Accepts Returns?: <%= @artist.accepts_returns %></td>
          </tr>
        </table>
        <br>
        <%= link_to "<button>Artist's shop</button>".html_safe, "/artists/#{@artist.id}/items", :class => 'table_button', :id => 'shop_button' %>
        <br><br>
      
    </body>

  
