<!DOCTYPE html>
  <html>
    <head>
      <title>Item <%= @item.id%> </title>
      <link href="../../assets/stylesheets/minimal-table.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <h1>Item Info</h1>
      
        <% x = 'Paid' %>
        <% x = 'Free!' if @item.free_shipping %>
        <%width =(((@item.rating / 5)*100).floor)%>
        <table>
          <tr>
            <th><h3> <%= @item.name %> </h3></th>
          </tr>
          <tr>
            <td>Rating: <span class='box'></span><span class='rating_box' style='width:<%=width%>px'></span> <%= @item.rating %> stars</td>
          </tr>
          <tr>
            <td>Price: $<%= @item.price %></td>
          </tr>
          <tr>
            <td>Left in Stock: <%= @item.stock %></td>
          </tr>
          <tr>
            <td>Number Sold: <%= @item.num_sold %></td>
          </tr>
          <tr>
            <td>Shipping: <%= x %></td>
          </tr>
        </table>
        <br><br>
      <%= link_to "<button>Update Item</button>".html_safe, "/items/#{@item.id}/edit", :class => 'table_button', :id => 'update_item' %>
      <%= button_to "Delete Item", "/items/#{@item.id}", method: :delete %>
    </body>
  </html>
  
