<!DOCTYPE html>
  <html>
    <head>
      <title>Your favorite items from <%= @artist.username %>!</title>
      <link href="../../assets/stylesheets/minimal-table.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <h1>Items from <%= @artist.username %>!</h1>
      <%@items.each do |item|%>
      <% x = 'Paid' %>
      <% x = 'Free!' if item.free_shipping %>
      <%width =(((item.rating / 5)*100).floor)%>
        <table>
          <tr>
            <th><h3> <%= link_to item.name, "/items/#{item.id}" %> </h3></th>
          </tr>
          <tr>
            <td>Rating: <span class='box'></span><span class='rating_box' style='width:<%=width%>px'></span> <%= item.rating %> stars</td>
          </tr>
          <tr>
            <td>Price: $<%= item.price %></td>
          </tr>
          <tr>
            <td>Left in Stock: <%= item.stock %></td>
          </tr>
          <tr>
            <td>Number Sold: <%= item.num_sold %></td>
          </tr>
          <tr>
            <td>Shipping: <%= x %></td>
          </tr>
        </table>
        <br><br>
      <%end%>
      <%= link_to "<button>New Item by Artist</button>".html_safe, "/artists/#{@artist.id}/items/new", :class => 'table_button', :id => 'new_artist_item' %>
    </body>
  </html>
  
