<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <header>
      <h1> <span id='title' style='margin-right:20px'><span id='b'>b</span>Etsie</span> 
        <nav id='navbox'>
          <a class='navigation' href='/artists'>Artists</a>
          <a class='navigation'href='/items'>Items</a>
        </nav>
      </h1>
    </header>

    <article>
      <%= yield %>
    </article>
  </body>
</html>
